{% assign recommendations = site.data.data.recommendations %}
{% if recommendations %}
<section class="section recommendations-section">
  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-medal fa-stack-1x fa-inverse"></i>
    </span>
    {{ recommendations.title }}
  </h2>

  <div class="item">
    <ul class="awards-list">
      {% for award in recommendations.bullets %}
      <li>{{ award }}</li>
      {% endfor %}
    </ul>
  </div>
</section>
{% endif %}
