{% if site.data.data.skills %}
<section class="skills-section section">
  <h2 class="section-title">
    <span class="icon-holder"><i class="fas fa-rocket"></i></span>
    {{ site.data.data.skills.title }}
  </h2>

  <div class="skillset">
    {% for category in site.data.data.skills.categories %}
    <div class="item">
      <h3 class="level-title">{{ category.heading }}</h3>
      <ul class="resume-list">
        {% for entry in category.items %}
        <li>{{ entry }}</li>
        {% endfor %}
      </ul>
    </div>
    {% endfor %}
  </div>
</section>
{% endif %}
